<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            display: flex;
            justify-content: center;
            color: blue;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">This is a Bank-Clients-Loans management application in Java. In this project You can also discover  many Java8 Features... For descriptions and examples please click the links below...</h1>

<a href="/save_client">Save and show Clients using COMPARATOR</a><br>
<a href="/filters">Use filter and show Filtered Clients</a><br>
<a href="/sorting_with_lambda">Sorting Clients by Age using Lambdas in Java8</a><br>
<a href="/save_loan">Save Loan To Client using Optionals in Java8</a><br>
<a href="/save_bank">Save Bank</a><br>
<a href="/save_bank">Find Bank Information By Name using Stream FindAny</a><br>
</body>
</html>